<!-- <div class="right active-chat" data-chat="person-default">
        <div class="top">
            <span>To: <span class="name">Trung Quân (admin)</span></span>
            <span class="chat-menu-right">
                <a href="#">
                    Tệp đính kèm
                    <i class="fa fa-paperclip"></i>
                </a>
            </span>
            <span class="chat-menu-right">
                <a href="javascript:void(0)">&nbsp;</a>
            </span>
            <span class="chat-menu-right">
                <a href="#">
                    Hình ảnh
                    <i class="fa fa-photo"></i>
                </a>
            </span>
        </div>
        <div class="content-chat">
            <div class="chat active-chat" data-chat="person-default">
                <div class="conversation-start">
                    <span>Một tháng trước</span>
                </div>
                <div class="bubble you">
                    Xin chào <strong>Trung Quân</strong>, tài khoản của bạn đã sẵn sàng.
                </div>
                <div class="bubble you">
                    Bây giờ, hãy tìm kiếm bạn bè để trò chuyện.
                </div>
                <div class="bubble you">
                    Lưu ý: Đây là tin nhắn tự động, vui lòng không trả lời lại. Cảm ơn <strong>Trung Quân</strong> !!!
                </div>
            </div>
        </div>

        <div class="write">
            <input type="text" class="write-chat" data-chat="" value="Hiện tại không thể Chat - Hãy tìm bạn bè trước khi chat. Xin cảm ơn !!!">
            <div class="icons">
                <a href="#"><i class="fa fa-smile-o"></i></a>
                <a href="#"><i class="fa fa-photo"></i></a>
                <a href="#"><i class="fa fa-paperclip"></i></a>
                <a href="#"><i class="fa fa-video-camera"></i></a>
            </div>
        </div>
    </div> -->
    <div class="col-sm-9 sidenav no-padding">
        <div class="tab-content" id="screen-chat">
            <% allConversationsWithMessages.forEach(function(conversation, index){%>
                <% if(conversation.members){%>
                    <div class="right tab-pane <% if(index === 0){%>active<%}%>"  data-chat="<%=conversation._id%>" id="to_<%=conversation._id%>">
                        <div class="top">
                            <span>To: <span class="name"><%= conversation.name%></span></span>
                            <span class="chat-menu-right">
                        <a href="#attachsModal" id="show-attachs" data-toggle="modal">
                          Tệp đính kèm
                          <i class="fa fa-paperclip"></i>
                        </a>
                      </span>
                            <span class="chat-menu-right">
                        <a href="javascript:void(0)">&nbsp;</a>
                      </span>
                            <span class="chat-menu-right">
                        <a href="#imagesModal" id="show-images" data-toggle="modal">
                          Hình ảnh
                          <i class="fa fa-photo"></i>
                        </a>
                      </span>
                        </div>
                        <div class="content-chat">
                            <div class="chat" data-chat="<%=conversation._id%>">
                                <% conversation.messages.forEach(function(message){%>

                                    <%if(message.messageType == "text"){%>
                                        <div class="bubble <% if(message.senderId == user._id){%> me <%} else {%> you <%}%>" data-mess-id="<%=message._id%>">

                                            <%=message.text%>
                                        </div>
                                    <%}%>
                                    <%if(message.messageType == "image"){%>
                                        <div class="bubble <% if(message.senderId === user._id){%> me <%} else {%> you <%}%> bubble-image-file" data-mess-id="<%=message._id%>">
                                            <img src="data: <%= message.file.contentType %>; base64, <%= message.file.data%>" class="show-image-chat" />
                                        </div>
                                    <%}%>
                                    <%if(message.messageType === "file"){%>
                                        <div class="bubble <% if(message.senderId === user._id){%> me <%} else {%> you <%}%>  bubble-image-file" data-mess-id="<%=message._id%>">
                                            <a href="data: <%= message.file.contentType %>; base64, <%= message.file.data%>" download="<%= message.fileName%>">
                                                <%= message.fileName%>
                                            </a>
                                        </div>
                                    <%}%>
                                <% })%>
                            </div>
                        </div>
                        <div class="write" data-chat="<%=conversation._id%>">
                            <input type="text" class="write-chat" data-chat="<%=conversation._id%>" />
                            <div class="icons">
                                <a href="#" class="icon-chat" data-chat=""><i class="fa fa-smile-o"></i
                        ></a>
                                <label for="image-chat">
                          <input
                            type="file"
                            id="image-chat"
                            name="my-image-chat"
                            class="image-chat"
                            data-chat="<%=conversation._id%>"
                          />
                          <i class="fa fa-photo"></i>
                        </label>
                                <label for="attach-chat">
                          <input
                            type="file"
                            id="attach-chat"
                            name="my-attach-chat"
                            class="attach-chat"
                            data-chat="<%=conversation._id%>"
                          />
                          <i class="fa fa-paperclip"></i>
                        </label>
                                <a href="#streamModal" id="video-chat" class="video-chat" data-chat="<%=conversation._id%>" data-toggle="modal">
                                    <i class="fa fa-video-camera"></i>
                                </a>
                                <input type="hidden" id="peer-id" value="" />
                            </div>
                        </div>
                    </div>
                <% } else { %>
                    <div class="right tab-pane <% if(index === 0){%>active<%}%>"  data-chat="<%=conversation._id%>" id="to_<%=conversation._id%>">
                        <div class="top">
                            <span>To: <span class="name"><%= conversation.username %></span></span>
                            <span class="chat-menu-right">
                        <a href="#attachsModal" id="show-attachs" data-toggle="modal">
                          Tệp đính kèm
                          <i class="fa fa-paperclip"></i>
                        </a>
                      </span>
                            <span class="chat-menu-right">
                        <a href="javascript:void(0)">&nbsp;</a>
                      </span>
                            <span class="chat-menu-right">
                        <a href="#imagesModal" id="show-images" data-toggle="modal">
                          Hình ảnh
                          <i class="fa fa-photo"></i>
                        </a>
                      </span>
                        </div>
                        <div class="content-chat">
                            <div class="chat" data-chat="<%=conversation._id%>">
                                <% conversation.messages.forEach(function(message){%>

                                    <%if(message.messageType === "text"){%>
                                        <div class="bubble <% if(message.senderId == user._id){%> me <%} else {%> you <%}%>" data-mess-id="<%=message._id%>">

                                            <%=message.text%>
                                        </div>
                                    <%}%>
                                    <%if(message.messageType === "image"){%>
                                        <div class="bubble <% if(message.senderId == user._id){%> me <%} else {%> you <%}%> bubble-image-file" data-mess-id="<%=message._id%>">
                                            <img src="data: <%= message.file.contentType %>; base64, <%= message.file.data%>" class="show-image-chat" />
                                        </div>
                                    <%}%>
                                    <%if(message.messageType === "file"){%>
                                        <div class="bubble <% if(message.senderId == user._id){%> me <%} else {%> you <%}%>  bubble-image-file" data-mess-id="<%=message._id%>">
                                            <a href="data: <%= message.file.contentType %>; base64, <%= message.file.data%>" download="<%= message.fileName%>">
                                                <%= message.fileName%>
                                            </a>
                                        </div>
                                    <%}%>
                                <% })%>
                            </div>
                        </div>
                        <div class="write" data-chat="<%=conversation._id%>">
                            <input type="text" class="write-chat" data-chat="<%=conversation._id%>" />
                            <div class="icons">
                                <a href="#" class="icon-chat" data-chat=""><i class="fa fa-smile-o"></i
                        ></a>
                                <label for="image-chat">
                          <input
                            type="file"
                            id="image-chat"
                            name="my-image-chat"
                            class="image-chat"
                            data-chat="<%=conversation._id%>"
                          />
                          <i class="fa fa-photo"></i>
                        </label>
                                <label for="attach-chat">
                          <input
                            type="file"
                            id="attach-chat"
                            name="my-attach-chat"
                            class="attach-chat"
                            data-chat="<%=conversation._id%>"
                          />
                          <i class="fa fa-paperclip"></i>
                        </label>
                                <a href="#streamModal" id="video-chat" class="video-chat" data-chat="<%=conversation._id%>" data-toggle="modal">
                                    <i class="fa fa-video-camera"></i>
                                </a>
                                <input type="hidden" id="peer-id" value="" />
                            </div>
                        </div>
                <%}%>
            <%})%>

        <!-- Trường hợp tài khoản chưa có bạn bè thì hiện màn hình dưới. -->
    </div>
    <script>

      let imageBuffer = fsExtra.readFile(messageVal.path);
      let imageContentType = messageVal.minetype;
      let imageName = messageVal.originalname;
        let newMessageItem = {
          senderId: sender.id,
          receiverId: receiver.id,
          conversationType: Message.MESSAGE_CONVERSATION_TYPE.GROUP,
          messageType: Message.MESSAGE_TYPE.IMAGE,
          sender: sender,
          receiver: receiver,
          file: {
            data: imageBuffer,
            contentType: imageContentType,
            fileName: imageName
          }
        };
    </script>