<% newGroupConversation.forEach(function(conversation, index){%>
    <div class="modal fade" id="membersModal_<%= conversation._id %>" role="dialog">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Members</h4>
              </div>
              <div class="modal-body">
                  <ul class="list-members">
                      <% conversation.membersInfo.forEach(function (member) { %>
                        <li class="_contactList" data-uid="<%= member._id %>">
                          <div class="contactPanel">
                              <div class="user-avatar">
                                  <img src="images/users/<%= member.avatar %>" alt="">
                              </div>
                              <br><br><br>
                              <% if (member._id.toString() !== user._id.toString()) { %>
                                <div class="user-name">
                                  <p>
                                      <%= member.username %>
                                  </p>
                                </div>
                                <br>
                                <div class="user-talk" data-uid="<%= member._id %>">
                                  Chat
                                </div>
                              <% } else { %>
                                <div class="user-name this-is-you">
                                  <p>
                                      <%= member.username %> (You)
                                  </p>
                                </div>
                                <br>
                              <% } %>
                          </div>
                        </li>
                      <% }); %>
                  </ul>
              </div>
          </div>
      </div>
    </div>
<% }); %>
