<% newMessage.forEach(function(message) { %>
  <% if (message.messageType === "image") { %>
      <img src="data:<%= message.file.contentType %>; base64, <%= bufferToBase64(message.file.data) %>"/>
  <% } %>

<% }); %>