<div class="modal fade" id="user-profile-modal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">Personal Account </h4>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#seting-profile">General Setings</a>
          </li>
          <li>
            <a
              data-toggle="tab"
              id="link-to-password-profile"
              href="#password-profile"
              >
              Manager Password
              </a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="seting-profile" class="tab-pane fade in active">
            <div class="row">
              <form class="form-horizontal" method="post" role="form" action="">
                <!-- left column -->
                <div class="col-md-3">
                  <div class="text-center" id="div-update-avatar">
                    <div id="image-edit-profile">
                      <img
                        src="images/users/<%= user.avatar %>"
                        class="avatar img-circle"
                        id="user-modal-avatar"
                        alt="avatar"
                      />
                    </div>
                    <h6>Upload new image ...</h6>
                    <input
                      type="file"
                      class="form-control"
                      id="input-change-avatar"
                      name="avatar"
                    /><br />
                    <div id="show-button-update-avatar"></div>
                  </div>
                </div>
                <!-- edit form column -->
                <div class="col-md-9 personal-info">
                  <div
                    class="alert alert-danger alert-dismissable user-modal-alert-error"
                  >
                    <a class="panel-close close" data-dismiss="alert">×</a>
                    <span>Update user success example</span>
                  </div>

                  <div
                    class="alert alert-success alert-dismissable user-modal-alert-success"
                  >
                    <a class="panel-close close" data-dismiss="alert">×</a>
                    <span>Update user success example</span>
                  </div>
                  <% if(user.local.email){ %>
                  <h3>Local account.</h3>
                  <% }%> <% if(user.facebook){ %>
                  <h3>Facebook account.</h3>
                  <% }%> <% if(user.google){ %>
                  <h3>Google account.</h3>
                  <% }%>

                  <br />
                  <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                      <% if(user.local.email){ %>
                      <div class="form-control" disabled>
                        <%= user.local.email %>
                      </div>
                      <% }%> <% if(user.facebook){ %>
                      <div class="form-control" disabled>
                        <%= user.facebook.email %>
                      </div>
                      <% }%> <% if(user.google){ %>
                      <div class="form-control" disabled>
                        <%= user.google.email %>
                      </div>
                      <% }%>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-3 control-label">Username:</label>
                    <div class="col-md-8">
                      <input
                        class="form-control"
                        id="input-change-username"
                        type="text"
                        name="username"
                        value="<%= user.username %>"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-3 control-label">Gender:</label>
                    <div class="col-lg-8">
                      <label class="radio-inline col-lg-2"
                        >Nam <input type="radio" id="input-change-gender-male"
                        name="gender" value="male" <% if(user.gender ===
                        "male"){ %> checked <%}%> required />
                        <span class="checkmark"></span>
                      </label>
                      <label class="radio-inline col-lg-2"
                        >Nữ <input type="radio" id="input-change-gender-female"
                        name="gender" value="female" <% if(user.gender ===
                        "female"){ %> checked <%}%> required />
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-3 control-label">Address:</label>
                    <div class="col-lg-8">
                      <input
                        class="form-control"
                        type="text"
                        id="input-change-address"
                        name="address"
                        value="<%= user.address %>"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-3 control-label">Phone Number:</label>
                    <div class="col-lg-8">
                      <input
                        class="form-control"
                        type="text"
                        id="input-change-phone"
                        name="phone"
                        value="<%= user.phone %>"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                      <input
                        type="button"
                        id="input-btn-update-user"
                        class="btn btn-primary custom-background-btn-primary"
                        name="submit"
                        value="Lưu lại"
                      />
                      <span></span>
                      <input
                        type="button"
                        id="input-btn-cancel-update-user"
                        class="btn btn-default custom-background-btn-reset"
                        value="Hủy bỏ"
                      />
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div id="password-profile" class="tab-pane fade">
            <div class="col-md-9 personal-info">
              <br />
              <div
                class="alert alert-danger alert-dismissable user-modal-password-alert-error"
              >
                <a class="panel-close close" data-dismiss="alert">×</a>
                <span>Update user success example</span>
              </div>

              <div
                class="alert alert-success alert-dismissable user-modal-password-alert-success"
              >
                <a class="panel-close close" data-dismiss="alert">×</a>
                <span>Update user success example</span>
              </div>

              <h3>Change Password</h3>
              <br />
              <form class="form-horizontal" method="post" role="form" action="">
                <div class="form-group">
                  <label class="col-md-4 control-label">Current Password</label>
                  <div class="col-md-8">
                    <input
                      class="form-control"
                      type="password"
                      id="input-change-current-password"
                      name="current_password"
                      placeholder="Enter your current password..."
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label">New Password</label>
                  <div class="col-md-8">
                    <input
                      class="form-control"
                      type="password"
                      id="input-change-new-password"
                      name="new_password"
                      placeholder="Enter new password..."
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label">
                    Confirm new password
                    </label>
                  <div class="col-md-8">
                    <input
                      class="form-control"
                      type="password"
                      id="input-change-confirm-new-password"
                      name="confirm_new_password"
                      placeholder="Enter confirm new password..."
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label"></label>
                  <div class="col-md-8">
                    <input
                      type="button"
                      id="input-btn-update-user-password"
                      class="btn btn-primary custom-background-btn-primary"
                      value="Lưu lại"
                    />
                    <span></span>
                    <input
                      type="button"
                      id="input-btn-cancel-update-user-password"
                      class="btn btn-default custom-background-btn-reset"
                      value="Hủy bỏ"
                    />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
