<% allConversationsWithMessages.forEach(function(conversation, index){%>
<div class="modal fade" id="imagesModal_<%= conversation._id%>" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">All Images in this conversation</h4>
      </div>
      <div class="modal-body">
        <div class="all-images" style="visibility: hidden;">
            <% conversation.messages.forEach(function(message) { %>
                <% if (message.messageType === "image") { %>
                    <img src="data:<%= message.file.contentType %>; base64, <%= bufferToBase64(message.file.data) %>"/>
                <% } %>

            <% }); %>
        </div>
      </div>
    </div>
  </div>
</div>
  <%});%>

