<% newPersonalConversation.forEach(function(conversation){%>
          <a href="#uid_<%= conversation._id%>" class="room-chat" data-target="#to_<%= conversation._id %>">
              <li class="person" data-chat="<%= conversation._id%>">
                  <div class="left-avatar">
                      <div class="dot"></div>
                      <img src="images/users/<%= conversation.avatar%>" alt="" />
                  </div>
                  <p class="name">
                      <%if(conversation.username.length > 15){%>
                          <%= conversation.username.substr(0, 13)%><span>...</span>
                      <%}else{%>
                          <%= conversation.username %>
                      <%}%>
                      </p>
                  <span class="time">
                      <%=convertTimestamp(lastItemOfArray(conversation.messages).createdAt) %>
                  </span>
                  <span class="preview convert-emoji">
                      <%if(lastItemOfArray(conversation.messages).messageType === "text"){%>
                          <%=lastItemOfArray(conversation.messages).text%>
                          <%}%>
                          <%if(lastItemOfArray(conversation.messages).messageType === "image"){%>
                              Image ...
                          <%}%>
                          <%if(lastItemOfArray(conversation.messages).messageType === "file"){%>
                                  Attachment ....
                          <%}%>

                  </span>
              </li>
          </a>
              <%});%>