<nav class="navbar navbar-inverse no-margin-bottom">
  <div class="container-fluid">
    <div class="navbar-header col-sm-3 navbar-left">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#myNavbar"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" target="__blank">
        <img src="images/logo_favicon/logo-cuong.png" alt="logo" />
      </a>
    </div>
    <div class="col-sm-3 no-padding">
      <ul class="nav navbar-nav navbar-left no-padding-start">
        <li>
          <input
            type="text"
            name="search"
            class="searchBox"
            placeholder="Search Conservation"
            id="input-search-conversation"
          />
          <div id="search-results">
            <h3>Result</h3>
            <div class="search_content">
              <ul></ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse col-sm-6 navbar-right" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/" title="Trang chủ">
            <i class="fa fa-home"></i>
          </a>
        </li>
        <li>
          <a
            href="#contactsModal"
            data-toggle="modal"
            title="Quản lý liên lạc"
            id="show-modal-contacts"
          >
            <i class="fa fa-user-plus"></i>
            <% if(countAllContactsSent + countAllContactsReceived > 0) {%>
            <div class="noti_contact_counter">
              <%=countAllContactsSent + countAllContactsReceived %>
            </div>
            <%} else{ %>
            <div class="noti_contact_counter display-none"></div>
            <%}%>
          </a>
        </li>
        <li>
          <a
            href="javascript:void(0)"
            id="noti_Button"
            data-toggle="modal"
            title="Thông báo"
          >
            <i class="fa fa-globe"></i>
            <% if(countNotiUnread > 0) {%>
            <div class="noti_counter"><%=countNotiUnread %></div>
            <%} else{ %>
            <div class="noti_counter display-none"></div>
            <%}%>
            <div id="noti_Container">
              <div id="notifications">
                <a href="javascript:void(0)" id="popup-mark-notif-as-read"
                  >Mark all as read
                </a>
                <div class="noti_content">
                  <!-- notif content -->
                  <% notifications.forEach(function(notification){ %> <%-
                  notification %> <%});%>
                </div>
                <div class="seeAll">
                  <a href="#notificationsModal" data-toggle="modal"
                    >See all notification</a
                  >
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="dropdown" id="dropdown-navbar-user" data-uid="<%=user._id%>">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <img
              class="avatar-small"
              id="navbar-avatar"
              src="images/users/<%= user.avatar %>"
              alt=""
            />
            <span id="navbar-username"><%= user.username %></span>

            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#user-profile-modal" data-toggle="modal">
                <i class="fa fa-cog"></i> &nbsp;Account Setting
              </a>
            </li>
            <li>
              <a href="/logout">
                <i class="fa fa-sign-out"></i> &nbsp;Logout
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
