
.read-more-user-chat-loader {
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
}
.read-more-user-chat-loader div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #f1b7b7;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.read-more-user-chat-loader div:nth-child(1) {
  left: 8px;
  animation: read-more-user-chat-loader1 0.6s infinite;
}
.read-more-user-chat-loader div:nth-child(2) {
  left: 8px;
  animation: read-more-user-chat-loader2 0.6s infinite;
}
.read-more-user-chat-loader div:nth-child(3) {
  left: 32px;
  animation: read-more-user-chat-loader2 0.6s infinite;
}
.read-more-user-chat-loader div:nth-child(4) {
  left: 56px;
  animation: read-more-user-chat-loader3 0.6s infinite;
}
@keyframes read-more-user-chat-loader1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes read-more-user-chat-loader3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes read-more-user-chat-loader2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}