<!-- <div class="master-success-message alert alert-success">
    Success example
</div> -->
<!-- success -->
<% if(success != "" ) {%>
    <% success.forEach((item)=>{ %>
        <div class="master-success-message alert alert-success">
            <%- item %>
        </div>

        <% }); %>
            <% }%>