<% users.forEach(function(user) { %>
  <div data-uid="<%= user._id %>">
    <li data-uid="<%= user._id %>">
      <div class="contactPanel">
        <div class="user-avatar">
          <img src="images/users/<%= user.avatar%>" alt="" />
        </div>
        <div class="user-name">
          <p>   <%= user.username %> </p>
        </div>
        <br />
        <div class="user-address">
          <span> &nbsp;<%= user.address %> </span>
        </div>
        <div class="add-user" data-uid="<%= user._id %>">
          Add to group
        </div>
      </div>
    </li>
  </div>
  <%});%>