<!DOCTYPE html>
<html lang="en">

<head>
    <title>Awesome Chat</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" href="images/logo_favicon/favicon-cuong.png" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/AlertifyJS/build/css/alertify.css" />
    <link rel="stylesheet" href="bower_components/emojionearea/dist/emojionearea.min.css" />
    <link rel="stylesheet" href="bower_components/photoset-grid/css/colorbox.css" />
    <link rel="stylesheet" href="emojione/extras/css/emojione.min.css">
    <link rel="stylesheet" href="emojione/extras/css/emojione-awesome.css">
    <link rel="stylesheet" href="css/style.css" />
</head>

<body onload="spinLoaded()">
    <!--loading.io loader-->
    <div class="master-loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <input type="hidden" id="ice-server-list" value="<%= iceTurnServer %>">

    <%-include('alert/alert'); %>

        <!-- include('navbar'); -->
        <%-include('navbar/navbar'); %>
            <%- content %>


            <div id="img-chat-modal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img-chat-modal-content">
                <div id="caption"></div>
            </div>

                <!--Libraries-->
                <script src="emojione/lib/js/emojione.min.js"></script>
                <script src="emojione/lib/js/emojione.js"></script>
                <script src="bower_components/jquery/dist/jquery.min.js"></script>
                <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
                <script src="bower_components/jquery.nicescroll/jquery.nicescroll.min.js"></script>
                <script src="bower_components/AlertifyJS/build/alertify.js"></script>
                <script src="bower_components/moment/min/moment.min.js"></script>
                <script src="bower_components/moment/min/moment-with-locales.min.js"></script>
                <script src="bower_components/emojionearea/dist/emojionearea.min.js"></script>
                <!-- <script src="bower_components/peerjs/peer.min.js"></script> -->
                <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
                <script src="bower_components/sweetalert2/dist/sweetalert2.all.min.js"></script>
                <script src="bower_components/photoset-grid/jquery.photoset-grid.min.js"></script>
                <script src="bower_components/jquery-colorbox/jquery.colorbox-min.js"></script>
                <script src="socket.io/socket.io.js"></script>
                <script src="/js/typingOnOff.js"></script>


                <!-- My js-->
                <script src="js/mainConfig.js"></script>
                <script src="js/updateUser.js"></script>

                <script src="js/calculateNotifContact.js"></script>
                <script src="js/calculateNotification.js"></script>
                <script src="js/textAndEmojiChat.js"></script>
                <script src="js/addContact.js"></script>
                <script src="js/removeContact.js"></script>
                <script src="js/removeRequestContactSent.js"></script>
                <script src="js/removeRequestContactReceived.js"></script>
                <script src="js/approveRequestContactReceived.js"></script>
                <script src="js/findUsersContact.js"></script>
                <script src="js/readMoreContacts.js"></script>
                <script src="js/readMoreContactsSent.js"></script>
                <script src="js/readMoreContactsReceived.js"></script>
                <script src="js/imageChat.js"></script>
                <script src="/js/attachmentChat.js"></script>
                <script src="/js/videoChat.js"></script>
                <script src="/js/userOnlineOffline.js"></script>
                <script src="js/groupChat.js"></script>

                <script src="js/readMoreNotif.js"></script>
                <script src="js/markNotifAsRead.js"></script>
                <script src="/js/calculateNumberMessageGroup.js"></script>
                <script src="/js/readMoreAllChat.js"></script>
                <script src="/js/readMoreMessages.js"></script>
                <script src="/js/newFeature.js"></script>





                <%- include('contacts/contactsModal'); %>
                    <%- include('stream/streamModal');%>
                        <%- include('images/imagesModal'); %>
                            <%-include('attachments/attachmentsModal'); %>
                                <%- include('profile/profileModal'); %>
                                    <%- include('groupChat/groupChatModal'); %>
                                        <%-include('notifications/notificationModal'); %>

                                        <%- include('extras/membersModal'); %>
</body>

</html>