<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Awesome Chat</title>
    <link rel="shortcut icon" href="images/logo_favicon/favicon-cuong.png" />

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="bower_components/AlertifyJS/build/css/alertify.css" />

    <link href="css/auth.css" rel="stylesheet" />

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/AlertifyJS/build/alertify.js"></script>

    <script src="js/authConfig.js" type="text/javascript"></script>
</head>

<body>
    <div class="container">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 my-content">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="login-title text-center">Welcome To My Awesome Chat</h1>
                    <hr />
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6 table-responsive">
                        <!-- <table class="table my-table">
                            <tbody>
                                <tr>
                                    <td>Author:</td>
                                    <td>Trung Quân</td>
                                </tr>
                                <tr>
                                    <td>Blog:</td>
                                    <td>
                                        <a href="https://trungquandev.com/" target="_blank">
                                            https://trungquandev.com
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>CV:</td>
                                    <td>
                                        <a href="https://cv.trungquandev.com/" target="_blank">
                                            https://cv.trungquandev.com
                                        </a>
                                    </td>
                                </tr>
                            </tbody> -->
                        </table>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-7 text-center">
                    <a class="btn big-login" data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();">Login</a>
                    <a class="btn big-register" data-toggle="modal" href="javascript:void(0)" onclick="openRegisterModal();">Register</a>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center bottom-description">
                    <!-- <span>
                        " Một chút hương thơm sẽ luôn bám vào đôi tay trao hoa hồng ! "
                    </span> -->
                    <br />
                    <span>
                        " A little bit of fragrance always clings to the hands that gives
                        you roses ! "
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="modal fade login" id="loginModal">
            <div class="modal-dialog login animated">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title">Login</h4>
                    </div>
                    <div class="modal-body">
                        <%-include('alert/alert'); %>
                            <%-include('login/login'); %>
                                <%-include('register/register'); %>


                    </div>
                    <div class="modal-footer">
                        <div class="forgot login-footer">
                            <span>Don't have an account?
                                <a href="javascript: showRegisterForm();">Create now!</a>
                            </span>
                        </div>
                        <div class="forgot register-footer" style="display: none">
                            <span>Already have an account?</span>
                            <a href="javascript: showLoginForm();">Login now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>